@keyframes fade_anim
{
	from {opacity: 1.0;}
	to {opacity: 0.2;}
}

.view.detail {
  font-size: 1.5rem;
}

.view.detail img{

  height: auto;
  max-width: 100%;
}

.fading_button{
  animation: fade_anim 5s;
  -moz-animation: fade_anim 5s;
  opacity: 0.2;
  width: 50%;
  height: 100%;
  float: left;
  font-size: 5rem;
}

.info_container {
  background: url("../img/ff_darknoise.png") repeat scroll 0 0 #7F7F7F;
  color: #FFF;
}

.next_button{
  right: 0;
}

.previous_button{

}

.image_container {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.vertically_centered {
  position: absolute;
  top: 50%;
}

.fading_button a
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.title
{
  font: 2.5rem/3rem "MozTT",Sans-serif;
  text-shadow: 2px 2px 3px black;
} 

.author
{
  font: 2.5rem/3rem italic "MozTT",Sans-serif;
  text-shadow: 2px 2px 3px black;
  text-align: right;
  padding: 1rem 3rem;
}