.view.detail {
  font-size: 1.5rem;
  animation: myfirst 1s;
}

.view.detail img{
  animation: fading 1s;
  -moz-animation: fading 1s;
  height: auto;
  max-width: 100%;
}

.fading_button{
  animation: fading 1s;
}

