<link rel="stylesheet" type="text/css" href="shared/style_unstable/lists.css" />
<link rel="stylesheet" type="text/css" href="css/tile_view.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />

<section role="region">
  <header>
    <menu type="toolbar">
      <button ng-show="loggedIn()" ng-click="logout()">Sign out</button>
      <button ng-show="!loggedIn()" ng-click="login()">Sign in</button>
      <button id="install">Install app</button>
      <button ng-tap="$navigate.go('settings', 'modal')">S</button>
    </menu>
    <h1 ng-show="!loggedIn()">Freddit</h1>
    <h1 ng-show="loggedIn()">Freddit ({{username}})</h1>
  </header>
</section>

<section class="view">
  <div class="image_tile" ng-repeat="subreddit in subreddits" style="background-image: url({{subreddit.first_image_url}});">
    <a href="" ng-tap="$navigate.go('r/{{subreddit.name}}', 'slide', false)"></a>
    <div class="proportional_helper"></div>

    <div class="image_tile_title" >
      <a href="" ng-tap="$navigate.go('r/{{subreddit.name}}', 'slide', false)"></a>
      <h2>{{subreddit.name}}<h2>
    </div>
  </div>
</section>
