<link rel="stylesheet" type="text/css" href="shared/style/headers.css">
<link rel="stylesheet" type="text/css" href="css/post.css">
<section role="region">
  <header>

    <a ng-tap="$navigate.go('/r/{{infoPost.subreddit}}', 'slide', true)"><span class="icon icon-back">back</span></a>
    <h1>{{infoPost.subreddit}}</h1>

  </header>
</section>
<p>{{post}}</p>
<p ng-show="{!{post}}">No post with that ID</p>
<section class="view detail" ng-show="{{post}}">
  <div class="image_container" style="background-image: url({{infoPost.url}})">
    <div class="fading_button">
      <a href="" ng-tap="$navigate.go('/post/{{nextPost}}', 'modal', true)"></a>
      <div class="proportional_helper"></div>
      <div class="vertically_centered previous_button">
        <a href="" ng-tap="$navigate.go('/post/{{nextPost}}', 'slide', true)"></a>
        &lt;
      </div>
    </div>
    <div class="fading_button">
      <a href="" ng-tap="$navigate.go('/post/{{previousPost}}', 'slide', false)"></a>
      <div class="proportional_helper"></div>
      <div class="vertically_centered next_button">
        <a href="" ng-tap="$navigate.go('/post/{{previousPost}}', 'slide', false)"></a>
        &gt;
      </div>
    </div>
  </div>
  <div class="info_container">
    <div class="faux_shadow"></div>
    <div class="title">{{infoPost.title}}</div>
    <div class="author">{{infoPost.author}}</div>
    <!--
    <div class="comments">{{infoPost.num_comments}}</div>
    <div class="score">{{infoPost.score}}</div>
  -->

  

</div>
</section>
