<link rel="stylesheet" type="text/css" href="shared/style/headers.css">
<link rel="stylesheet" type="text/css" href="css/post.css">
<section role="region">
  <header>
    <a ng-tap="$navigate.go('/r/{{infoPost.subreddit}}', 'slide', true)"><span class="icon icon-back">back</span></a>
    <h1>{{infoPost.subreddit}}</h1>
  </header>
</section>
<section class="view detail">
  <div class="image_container" style="background-image: url({{infoPost.url}})">
    <div class="fading_button" onClick="alert('This function should call the previous image...');">
      <div class="vertically_centered previous_button">&lt;</div>
    </div>
    <div class="fading_button" onClick="alert('This function should call the next image...');">
      <div class="vertically_centered next_button">&gt;</div>
    </div>
  </div>
  <div class="title">{{infoPost.title}}</div>
  <div class="author">{{infoPost.author}}</div> 
  <div class="comments">{{infoPost.num_comments}}</div>
  <div class="score">{{infoPost.score}}</div>

  	<a ng-tap="$navigate.go('/post/{{nextPost}}', 'slide', false)">Next Post</a>
	<a ng-tap="$navigate.go('/post/{{previousPost}}', 'slide', true)">Previous Post</a>
</section>
