<link rel="stylesheet" type="text/css" href="shared/style/headers.css">
<link rel="stylesheet" type="text/css" href="shared/style/buttons.css">
<link rel="stylesheet" type="text/css" href="shared/style/switches.css">
<link rel="stylesheet" type="text/css" href="shared/style/input_areas.css">
<link rel="stylesheet" type="text/css" href="css/settings.css">
<link rel="stylesheet" type="text/css" href="css/lists.css">

<section role="region">
 <header>
    <a ng-tap="$navigate.go('/', 'modal', true)"><span class="icon icon-back">back</span></a>
    <h1>Settings</h1>
  </header>
</section>

<section class="view">
  <ul>
    <li>
      <label>
        <input type="checkbox" ng:model="nsfwFlag" ng:click="checkNSFW()"/>
        <span></span>
      </label>
      <a class="menu-item">Show NSFW</a>
    </li>
    <li>
      <label>
        <button id = "install" ng:click="install()" >Install app<Button/>
        <span></span>
      </label>
      <a class="menu-item">Install app</a>
    </li>
  </ul>
  <!--
  <div class="settings_item">
    <h1>Add subreddit</h1>
    <input placeholder="subreddit name" required="" type="text" ng-model="new_subreddit">
    <button ng-click="addSubreddit(new_subreddit);">Add</button>
  </div>

  <div class="settings_item">
    <h1>
      Remove subreddit
    </h1>
  </div>

  <div class="settings_item" ng-repeat="subreddit in subreddits" ng-class-even="'light_background'">
    <div class="settings_name" >
      <h2>{{subreddit.name}}</h2>
    </div>
    <button class="danger" ng-tap="removeSubreddit('{{subreddit.name}}');">Remove</button>
  </div>
  -->
</section>
