<link rel="stylesheet" type="text/css" href="shared/style_unstable/lists.css" />
<link rel="stylesheet" type="text/css" href="shared/style/headers.css" />
<link rel="stylesheet" type="text/css" href="shared/style/tile_view.css" />

<section role="region">
  <header>
    <h1>Subreddit Images</h1>
  </header>
</section>
<section class="view">
  <div class="image_tile" ng-repeat="post in posts" style="background-image: url({{post.data.url}});">
    <div class="proportional_helper"><!-- People call me fat :( --></div>

    <div class="image_tile_title" >
      <a href="#/post/{{post.data.id}}"><!-- I fill the whole area --></a>
      <h2>{{post.data.title}}<h2>
    </div>
  </div>
</section>
