<link rel="stylesheet" type="text/css" href="shared/style_unstable/lists.css" />
<link rel="stylesheet" type="text/css" href="shared/style/headers.css" />
<link rel="stylesheet" type="text/css" href="css/tile_view.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />

<section role="region">
  <header>
    <a ng-tap="$navigate.go('/', 'slide', true)"><span class="icon icon-back" style="width:60px">back</span></a>
    <menu type="toolbar">
      <a href="" ng-tap="openSortSelector()">{{orderBy}}</a>
    </menu>
    
    <h1>{{subredditName}}</h1>
  </header>
</section>

<!-- Page button -->
<section class="view">
  <div ng-show="false;" class="button_tile">
    <a href="" ng-tap="$navigate.go('/', 'slide', false)"></a>
    <div class="proportional_helper"></div>
    <div class="button_tile_title">
      <a href="" ng-tap="$navigate.go('/', 'slide', false)"></a>
      <h1>Previous Page</h1>
    </div>
  </div>

  <!-- image tiles -->

  <p ng-show="havePosts == false;">Failed to retrieve subreddit posts.</p>
  <div ng-show="havePosts;" class="image_tile" ng-repeat="post in posts" style="background-image: url({{post.url}})">
    <a href="" ng-tap="$navigate.go('/post/{{subredditName}}/{{orderBy}}/{{page - 1}}/{{post.id}}', 'slide', false)"></a>
    <div class="proportional_helper"></div>

    <div class="image_tile_title" >
      <a href="" ng-tap="$navigate.go('/post/{{subredditName}}/{{orderBy}}/{{page - 1}}/{{post.id}}', 'slide', false)"></a>
      <h2>{{post.title}}<h2>
    </div>
  </div>

  <!-- Page button -->
  <div ng-show="true;" class="button_tile">
    <a href="" ng-tap="$navigate.go('/r/{{subredditName}}/{{orderBy}}/{{page}}','slide', false)"></a>
    <div class="proportional_helper"></div>
    <div class="button_tile_title">
      <a href="" ng-tap="$navigate.go('/r/{{subredditName}}/{{orderBy}}/{{page}}','slide', false)"></a>
      <h1>Next Page</h1>
    </div>
  </div>
</section>

<section data-type="sidebar" ng-show="showSortSelector;">
  <link rel="stylesheet" type="text/css" href="shared/style_unstable/drawer.css" />
  <header>
  <menu type="toolbar">
  </menu>
  </header>
  <nav>
    <ul>
      <li><a href="" ng-tap="$navigate.go('/r/{{subredditName}}/new/0','slide', false)">new </a></li>
      <li><a href="" ng-tap="$navigate.go('/r/{{subredditName}}/hot/0','slide', false)">hot </a></li>
      <li><a href="" ng-tap="$navigate.go('/r/{{subredditName}}/top/0','slide', false)">top</a></li>
      <li><a href="" ng-tap="$navigate.go('/r/{{subredditName}}/controversial/0','slide', false)">controversial</a></li>
    </ul>
  </nav>
</section>
